body {
  background: hsl(220, 13%, 14%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FFFDF4;
  margin: 20px;
  font-size: 16px;
}
.bounds {
  outline: 2px solid #C0C5CE;
  float: left;
  background: hsl(220, 13%, 18%);
}
.logo {
  margin-bottom: 15px;
}
.logo img {
  width: 200px;
}
.sidebar {
  width: 200px;
  float: left;
  margin-right: 20px;
}
.player {
  line-height: 2em;
}
.player.winner::before {
  content: '👑';
}
.color {
  position: relative;
  top: -0.1em;
  display: inline-block;
  vertical-align: middle;
  width: 0.5em;
  height: 1.5em;
}
.score {
  float: right;
  font-weight: bold;
}